@model Guid
@{
    Html.BeginForm("ResetPassword", "Account", FormMethod.Post);
}
<h1>Input new password</h1>
    <input type="hidden" id="resetKey" name="resetKey" value="@Model"><br>
    <span>New Password</span><br />
    <input type="text" id="newPassword" name="newPassword"><br>
    <button type="submit">Change password</button>
@{
    Html.EndForm();
}
